{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>College Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'styles/bootstrap4/bootstrap.min.css' %}" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
   <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Humanities">Humanities</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Biology">Biology Science</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Home_economics">Home Science</a>

            </div>
      </li>
      </ul>
            </div>
          </div>
        </nav>

          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Fill your Form to purchase</p>

      <input type="submit" name="mybtn2" onclick="location.href='{% url 'formpage' %}'"></input>

  </div>
</div>
        </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
      </div>
  </body>
</html>